/* ----------------------Basic Layout Setup*----------------------*/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-family: 'lato','arial',sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: white;
	text-rendering: optimizeLegibility;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
section {
    flex:1;
}
header,footer{
    width: 100%;
}

/* ----------------------Common Style Setup*----------------------*/

.wrapper{
    width: 80%;
    margin: 0 auto;
}
.btn{
    border: 1px solid white;
    color: white;
    display: inline-block;
    padding:0.5em 1em;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.1em;   
    transition: all .3s ease-in-out;
}
#section-2,#section-4,#section-5,#section-6,#section-7,#section-8{
    padding: 3em 0;
}

.title,.desc{
    color: #2c3e50;
    text-align: center;
    padding: 0.6em 0;
}
.title{
    font-size: 1.15em;
    font-weight: normal;
}
.title:after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 1em auto 0;
    background: #d35400;
}
.desc{
    font-size: 1.1em;
    text-align: left;
    font-weight: 300;
}
.title-wrapper{
    width: 90%;
}


/*Navbar Section*/
header{ background: transparent; padding-top: 1em; position: absolute;}
.nav-wrapper{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100px;
    height: auto;
}
.logo img{
    max-width: 100%;
    height: auto;
}
nav {
    display: none;
    justify-content: center;
    flex:1;
    padding: 1.5em 0;
}
nav ul{
    list-style-type: none;
}
nav li{
    padding: 0.2em 0;
    font-size: 1.2em;
}
nav li a,
nav li a:visited{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}
.nav-btn{
    position: absolute;
    border: none;
    background: transparent;
    font-size: 2.5em;
    color: white;
    top: 1em;
    right: 1em;
}
.nav-btn-show{
    display: flex;
}

/*Section 1*/
#section-1{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img/hero1.jpg');
    height: 100vh;
    background-size:cover;
    background-position: center;
    display: flex;
    background-attachment: fixed;
}
.hero-text{
    position: absolute;
    top: 50%;
}
.hero-text h1{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 3px;
    word-spacing: 1px;
}
.section-1-btn{
    margin:1.5em 0.3em 0;
    font-size: 1em;
    border:1px solid #d35400;
}
.section-1-btn:first-of-type{
    background: #d35400;
}
.section-1-btn:hover:first-of-type{
    background: #ed5e00;
}
.section-1-btn:hover:last-of-type{
    background:#ed5e00;
}

/*Section 2*/
#section-2{
    background: white;
}
.features-wrapper{
    width: 100%;
    padding: 1em 0.5em 0;
    display: flex;
    flex-direction: column;
}
.features-box{
    color: #2c3e50;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.features-box i{
    color: #d35400;
    font-size: 2em;
    
}
.features-box h3{
    
}
.features-box p{
    font-size: 1.05em;
}
.features-box i,
.features-box h3,
.features-box p{
    padding: 0.5em 0;
    text-align: left;
}

/*Section 3 style*/
.gallery-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
}
.gallery-wrapper figure{
    flex: 1 50%;
    overflow: hidden;
}
.gallery-wrapper img{
    max-width: 100%;
    height: auto;
}

/*Section 4 style*/

#section-4{
    background: #F4F4F4;
}
.app-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 3em 0 0;
}
.app-wrapper .app-photo{
    flex: 1;
    align-self: center;
    text-align: center;
}
.app-photo img{
    max-width: 40%;
    height: auto;
}
.app-wrapper .app-steps{
    flex: 1;
    align-self: center;
    padding: 1em 0 0;
}
.app-steps ul{
    list-style-type: none;
    color: #2c3e50;
}
.app-steps li{
    font-size: 1.05em;
    padding: 1em 0;
    display: flex;
    align-items: center;
}
.app-steps span{
    border: 1px solid #d35400;
    border-radius: 50%;
    padding: 0.8em 1.15em;
    display: inline-block;
    margin-right: 1em;
}
.app-steps p{
    display: inline;
}

/*Section 5 styles*/
#section-5{
    background: white;
}

.features-box img{
    max-width: 100%;
    height: auto;
}
.features-box ul{
    list-style-type: none;
    padding:1em;
}
.features-box li i{
    margin-right: 1em;
}
.features-box li p{
    display: inline-block;
    font-size: 1.05em;
}
.features-box li a,
.features-box li a:visited{
    text-decoration: none;
    color: #d35400;
}

/*Section 6 style*/
#section-6{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img/customers.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}
#section-6 .title{
    color: white;
}
.comments-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 3em 0 0;
}
.comments-box{
    padding: 1.5em 1em;
}
.comments-box ul{
    list-style-type: none;
    position: relative;
}
.comments-box ul:before{
    content: '\201C';
    display: block;
    font-size: 4em;
    color: white;
    position: absolute;
    top: -0.5em;
    left: -0.3em;
}
.comments-box img{
    max-width: 30%;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 0.5em;
}
.comments-box li{
    padding: 1em 0;
}
.comments-box li p{
    font-style: italic;
    font-size: 1.1em;
}
.comments-box li:last-of-type p{
    display: inline-block;
    font-style: initial;
    font-size: 1em;
}
/*Section 7 styles*/

#section-7{
    background: #ebebeb;
}
.price-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 3em 0 0;
}
.price-box{
    color: #2c3e50;
    flex: 1;
    border-radius: 9px;
    padding: 1em 0.5em;
}
.plan-name{
    background: #f7f7f7;
    padding: 1em;
    border-bottom: 1px solid lightgrey;
}
.plan-name h1,
.plan-name h3{
    display: inline-block;
}
.plan-name h1,
.plan-name h2,
.plan-name h3,
.plan-name h4{
    font-weight: 300;
}
.plan-name h1,
.plan-name h2,
.plan-name h4{
    padding: 0.1em 0;
}
.plan-name h1{
    font-size: 2.3em;
    letter-spacing: 0.1em;
}
.plan-name h2{
    color: #d35400;
    font-size: 2em;
}
.plan-name h3{
    font-size: 1.3em;
}
.plan-features{
    background: white;
    border-bottom: 1px solid lightgrey;
    padding: 1em;
}
.plan-features ul{
    list-style-type: none;
}
.plan-features li{
    font-size: 1.15em;
    padding: 0.2em 0;
}
.plan-features i{
    margin-right: 0.5em;
}
.plan-sign{
    background: white;
    padding: 1em;
    text-align: center;
}
.plan-btn{
    color: #d35400;
    border: 1px solid #d35400;
}

/*Section 8 styles*/
#section-8{
    background: white;
    color: #2c3e50;
}
.form-wrapper{ text-align: center; padding: 3em 0 0; }
.form-wrapper form{ width: 100%; }
.form-component { display: flex; flex-direction: column; justify-content: space-between; padding: 0.5em 0;}
.form-wrapper label{
    flex: 1; 
    text-align: left;
    align-self: flex-start;
    padding: 0.7em 0;
    font-size: 1.2em;
}

.form-wrapper input[type='checkbox']{ height: 1.3em; }
.form-wrapper textarea{ resize: none; }
.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea{
    flex: 2; 
    font-size: 1.1em;
    padding: 0.6em;
    background: #ecf0f1;
    outline-color: #e67e22; 
    border: 1px solid lightgrey;
}
.form-btn{
    color: #d35400;
    border: 1px solid #d35400;
    margin-top: 1em;
}
.form-btn:hover{
    background: #d35400;
    color: white;
}

/*Footer styles*/
footer{
    background: #333;
    padding: 2em 0;
}
footer ul{
    list-style-type: none;
    text-align: center;
    padding: 0.5em 0;
}
footer li{
    display: inline-block;
    padding: 0 0.5em;   
    font-size: 1.2em;
}
footer a,
footer a:visited{
    color: #888888;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.sitemap-list a:hover{
    color: #d35400;
}
.social-list li:nth-of-type(1) a:hover{
    color: #e74c3c;
}
.social-list li:nth-of-type(2) a:hover{
    color: #2e8ece;
}
.social-list li:nth-of-type(3) a:hover{
    color: #3498db;
}
.social-list li:nth-of-type(4) a:hover{
    color: #f39c12;
}

footer p{
    text-align: center;
    padding: 1em 0 0;
}
footer p a,
footer p a:visited{
    color: tomato;
    padding: 0 0.4em;
    text-decoration: none;
}
.ion-ios-heart{
    color: #e74c3c;
    padding: 0 0.2em;
    font-size: 1.1em;
}

@media(min-width: 481px){
    nav li{
        font-size: 1.3em;
        padding: 0.2em 0;
    }
    .hero-text{
        top: 45%;
    }
    .hero-text h1{
        font-size: 1.4em
    }
    .section-1-btn{
        font-size: 1.05em;
    }
}

@media(min-width: 769px){
    nav{ 
        display: flex;
        align-items: center;
        justify-content: initial;
        padding: 0;
        flex:initial;
    }
    nav ul{
        display: flex;
    }
    nav li{
        font-size: 1em;
        padding: 0 0.7em;
    }
    nav li a:hover{
        padding-bottom: 0.3em;
        border-bottom: 2.5px solid #e67e22;
    }
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .nav-btn{
        display: none;
    }
    .hero-text{
        top: 50%;
    }
    .hero-text h1{
        font-size: 2em;
        letter-spacing: 7px;
    }
    #section-2,#section-4,#section-5,#section-6,#section-7,#section-8{
        padding: 4em 0;
    }
    .section-1-btn{
        margin: 1.5em 1.1em 0;
        font-size: 1.2em;
        padding: 0.5em 1.5em;
    }
    .title,.desc{
        padding: 0.3em 0;
    }
    .title{
        font-size: 1.8em;
        font-weight: normal;
    }
    .desc{
        font-size: 1.4em;
        text-align: center;        
    }
    .features-wrapper{
        flex-direction: row;
    }
    .features-box i,
    .features-box h3{
        text-align: center;
    }
    .gallery-wrapper{
        background: black;
    }
    .gallery-wrapper figure{
        flex:1 25%;
    }
    .gallery-wrapper img{
        transform: scale(1.1);
        transition:transform .3s ease-in-out,opacity .3s ease-in-out;
        opacity: 0.7;
    }
    .gallery-wrapper img:hover{
        transform: scale(1);
        opacity: 1;
    }
    .app-wrapper{
        width: 80%;
        flex-direction: row;
    }
    .app-photo{
        text-align: initial;
    }
    .app-steps{
        padding: 0;
    }
    .app-steps li{
        font-size: 1.2em;
    }
    .features-box{
        width: 25%;
    }
    .features-box ul{
        padding: 0 1em;
    }
    .features-box li p{
        font-size: 1.2em;
    }
    .comments-wrapper{
        flex-direction: row;    
    }
    .comments-box{
        padding: 0 1em;
    }
    .comments-box li p{
        font-size: 1.2em;
    }
    .comments-box li:last-of-type p{
        font-size: 1.1em;
    }
    .price-wrapper{
        flex-direction: row;
    }
    .price-box{
        padding: 0 1.5em;
    }
    .plan-btn:hover{
        color: white;
        background: #d35400;
    }
    .form-wrapper label{
        align-self: center;
    }
    .form-component{
        flex-direction: row;
    }
    .footer-wrapper{
        flex-direction: row;
    }
    footer ul{
        text-align: left;
        padding: 0;
    }
}